html {
	position: relative;
}

body {
	margin-top: 30px;
	margin-bottom: 120px;
}

.jumbotron {
	background-image: url('../img/header.jpg');
	background-attachment: fixed;
	background-size: contain;
	background-position: 0 - 100px;
	overflow: hidden;
}

.jumbotron img {
	width: 250px;
	border: 5px solid #666;
	box-shadow: 1px 1px 10px rgba(0,0,0,0.5);
}

.jumbotron h1, .jumbotron p {
	text-shadow: 1px 1px 10px rgba(0,0,0,0.5);
}

hr {
	width: 250px;
	border-top: 3px solid #999;
}

section {
	min-height: 600px;
}

img {
	border: 1px solid #ddd;
}

}

.p1, .p2 {
	opacity: 0;
	transform: translate(-50px, 0);
	transition: 1s;
}

.p2 {
	transform: translate(50px, 0);
}

.p1.pMuncul, .p2.pMuncul {
	opacity: 1;
	transform: translate(0,0);
}

.portofolio {
	background-color: #eee;
}

.portofolio .thumbnail {
	opacity: 0;
	transition: translate(0, -40px);
	transition: .3s;
}

.portofolio .thumbnail.muncul{
	opacity: 1;
	transition: translate(0,0);
}

.contact {
	min-height: 500px;
}

footer{
 	position: absolute;
  	bottom: 0;
  	left: 0;
  	right: 0;
  	height: 80px;   
 	background: #333;
  /* get rid of min-width */
}

footer p {
	color: #aaa;
	font-size: 1em;
	padding-top: 40px;
}